.navbar-background {
    /* positioning */
    margin: auto;
    display: flex;
    justify-content: center;

    /* styling */
    height: 48px;
    width: 100%;
    border-bottom: 1px solid;
    border-width: thick;
    border-image: linear-gradient(to bottom right,#650782, #71CDE1);
    border-image-slice: 1;
    padding-bottom: 12px;
}

.navbar {
    /* positioning */
    display: flex;
    justify-content: space-between;

    /* styling */
    height: 48px;
    width: 1024px;
    margin: auto;
}

.nav-elements {
    /* styling */
    height: 100%;
}

.big-logo {
    /* positioning */
    height: 111%;
}

.login-button {
    /* positioning */
    margin-bottom: 5px;
    float: right;
}

.login-button, .signup-button {
    /* positioning */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
    /* styling */
    height: 41.6%;
}

#createPage {
    position: fixed;
    top: 20px;
    left: 100px;
    color: black;
    z-index: 10;
}