.navbar-background {
    height: 48px;
    width: max-content;
    border-bottom: 1px solid;
    border-width: thick;
    padding-bottom: 12px;
}

.navbar {
    /* positioning */
    display: flex;
    justify-content: space-between;

    /* styling */
    height: 48px;
    width: 1024px;
    margin: auto;
}

.nav-elements {
    /* styling */
    height: 100%;
}

.big-logo {
    /* positioning */
    height: 111%;
}

.login-button {
    /* positioning */
    margin-bottom: 5px;
    float: right;
}

.login-button, .signup-button {
    /* positioning */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
    /* styling */
    height: 41.6%;
}

