.page-container {
    display: flex;
    justify-content: center;
}

.page {
    display: flex;
    width: 1024px;
    border-radius: 45px;
    background-color: gray;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    margin: 24px;
}

#pics {
    flex: 1;
    width: 100%;
    padding: 30px;
    position: relative;
}

#pics img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 24px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6)
}

#textz {
    flex: 1;
    max-width: 40%;
    padding: 30px;
}

.buttons-container {
    margin-top: 20px;
    padding: 2px;
    display: flex;
    flex-grow: 1;
    width: 100%;
}

.buttons {
    display: flex;
    justify-content: center;
    width: 100%;
}

.buttons button {
    background-color: rgb(65, 59, 59);
    width: 124px;
    flex-grow: 1;
    border: none;
    color: white;
    padding: 10px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    margin: 0px 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    transition: 0.3s;
    user-select: none;
}

.buttons button:hover {
    background-color: #303530;
    color: gray;
}


#buttons img:hover {
    transform: scale(1.2);
}

.profile-link {
    color: white;
    display: inline-block;
    padding: 4px 10px;
    border-radius: 16px;
    transition: 0.3s;
    cursor: pointer;
    user-select: none;
    margin: 16px 0px;
}

.profile-link:hover {
    background-color: #303530;
    color: gray;
}

.profile-link-text {
    font-size: 17px;
}

/* #like {
    margin-top: 80px;
    margin-left: 480px;
    height: 150px;
    width: 140px;
}

#like:hover {
    transform: scale(1.2);
} */

.title {
    font-size: 36px;
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    color: gray;
    padding: 14px;
    border-radius: 12px;
}

.text-description {
    background-color: black;
    padding: 14px;
    border-radius: 12px;
    min-height: 280px;
}